<h1>GitHub Quick Facts</h1>

<p>
  GitHub is the best place to share code with friends, co-workers, classmates,
  and complete strangers. Over four million people use GitHub to build amazing
  things together.
</p>

<h2>Company</h2>

<ul>
  <li>GitHub was founded in April, 2008</li>
  <li>GitHub HQ is in San Francisco, California</li>
  <li>Founders: Tom Preston-Werner, Chris Wanstrath, and PJ Hyett</li>
  <li>CIO: Scott Chacon, CFO: Vlado Herman, CRO: Eric Hall</li>
  <li>Investors: $100M from Andreessen Horowitz in July 2012</li>
  <li>Employees: 209 (see https://github.com/about for a current number)</li>
  <li>Approximately two-thirds of the GitHub team works remotely</li>
</ul>

<h2>GitHub.com</h2>

<ul>
  <li>4 million users</li>
  <li>8 million repositories (projects)</li>
  <li>16 million unique visitors per month</li>
  <li>Ranked 256th most trafficked website on the internet</li>
</ul>

<h2>GitHub Products</h2>

<ul>
  <li>GitHub.com : public and private collaboration</li>
  <li>GitHub Enterprise : Your own private GitHub, on your servers</li>
  <li>GitHub Mobile : iOS, Android and mobile web</li>
  <li>GitHub Pages : easily created beautiful personal and project web pages</li>
  <li>GitHub for Mac, Windows and Eclipse</li>
  <li>GitHub Gist : share and collaborate on code snippets</li>
  <li>GitHub Jobs : find the best jobs in software</li>
</ul>
